.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-video-1 {
  width: 1141px;
  height: 558px;
  margin: 0 -1px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  background-image: none;
  animation-duration: 1000ms;
  margin: -121px auto 21px;
  padding: 10px 81px 10px 79px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-video-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-video-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}